[Desktop Entry]
Categories=Qt;System;
Exec=netrunner-command-center
GenericName=Netrunner Command Center
Icon=netrunner-command-center
MimeType=
Name=Netrunner Command Center
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
